@using HealthCheck.Data
@using BlazorBootstrap


@if (Result?.Status == Status.Warning)
{
    <Alert Color="AlertColor.Warning">
        <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon>
        <span class="alert-header">@Result.Name</span>
        @foreach (string Text in Result?.HelpText ?? new string[0])
        {
            <p>
                @Text
            </p>
        }
    </Alert>
}
else if (Result?.Status == Status.Failure)
{
    <Alert Color="AlertColor.Danger">
        <Icon Name="IconName.ExclamationTriangleFill" class="me-2"></Icon>
        <span class="alert-header">@Result.Name</span>
        @foreach (string Text in Result?.HelpText ?? new string[0])
        {
            <p>
                @Text
            </p>
        }
    </Alert>
}
else if (Result?.Status == Status.Success)
{
    <Alert Color="AlertColor.Success">
        <Icon Name="IconName.CheckCircleFill" class="me-2"></Icon>
        <span>@Result.Name</span>
    </Alert>

}
else if (Result?.Status == Status.Processing)
{
    <Alert Color="AlertColor.Info">
        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
        <span>@Result.Name</span>
    </Alert>

}

@code {
    [Parameter]
    public HealthCheck.Data.Result? Result { get; set; }

    //public IconName IconString => Result.Status == "Processing" ? IconName.

}
